body{_background-attachment:fixed;_background-image:url(about:blank);}
.f18 { font-size:18px;}
.f-yahei { font-family:微软雅黑,"Microsoft Yahei";}
.relative { position:relative; zoom:1;}
.t-hide { text-indent:-999em; overflow:hidden;}

.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}

.c-444 { color:#444;}
.c-888 { color:#888;}

.bl-d5 { border-left:1px solid #d5d5d5;}
.br-d5 { border-right:1px solid #d5d5d5;}

/*左侧导航*/
.leftnav-tit { margin:0 8px; font:bold 16px/1.5 Simsun; color:#313131; border-bottom:1px dashed #cccdcd;}
.leftnav-tit.b-none { border:none;}

.leftnav-app li a { background:url(../images/app-back/leftnav-bg.gif) no-repeat;}
.leftnav-app li.lnav-1 a{ background-position:0 0;}
.leftnav-app li.lnav-1 a:hover,.leftnav-app li.lnav-1-on a {}

.search-all { width: 249px; height: 28px; background: url(../images/bmgl/search-bgs.gif) no-repeat 0 -30px; }
.inp-search { height: 28px; line-height:28px; border: none; background: none; outline:none;}
.btn-search { width: 25px; height: 28px; border: none; background: none; cursor: pointer; outline:none;}

.btn-blue,.btn-blue-l,.btn-gray-xl,.btn-gray-l,.btn-gray-s,.btn-blue-xl,.btn-gray-xxl,.btn-gray-xs { display:inline-block; height:28px; line-height:28px; background:url(../images/tijian/btns.gif) no-repeat; border:none; text-align:center; cursor:pointer; vertical-align:middle; *display:inline; *zoom:1;}
.btn-blue { width:62px; color:#fff;}
.btn-blue-l { width:82px; background-position:0 -30px; color:#fff;}
.btn-blue-xl { width:104px; background-position:0 -60px; color:#fff;}
.btn-gray-xl { width:96px; background-position:0 -150px; color:#555;}
.btn-gray-l { width:82px; background-position:0 -120px; color:#555;}
.btn-gray-s { width:62px; background-position:0 -90px; color:#555;}
.btn-gray-xs { width:92px; height:20px; line-height:20px; background-position:0 -210px; color:#555;}
.btn-gray-xxl { width:129px; height:25px; line-height:25px; background-position:0 -180px; color:#555;}

.btn-gray-l.c-org { color:#ff8a00;}

.inp-txtarea { width:450px; height:105px; border:1px solid #bbb; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,.2); -moz-box-shadow:inset 0 0 2px rgba(0,0,0,.2); box-shadow:inset 0 0 2px rgba(0,0,0,.2);}
.inp-txt { display:inline-block; width:166px; height:26px; padding:0 5px; line-height:26px; border:1px solid #bbb; vertical-align:middle; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,.2); -moz-box-shadow:inset 0 0 2px rgba(0,0,0,.2); box-shadow:inset 0 0 2px rgba(0,0,0,.2);}
.inp-sel { height:26px; padding:4px 5px; border:1px solid #bbb; vertical-align:middle; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,.2); -moz-box-shadow:inset 0 0 2px rgba(0,0,0,.2); box-shadow:inset 0 0 2px rgba(0,0,0,.2);}

.mt30 { margin-top:30px;}

.center { margin:0 auto;}

.c-green { color:#009944;}/*绿色*/
.c-org { color:#ff8a00;}/*橙色*/
.c-666 { color:#666;}
a.c-007 { color:#007cd9;}
a.c-007:hover { color:#ff8a00;}
.bb-ccc { border-bottom: 1px solid #ccc; }

.cus-sel-chosed { width:147px; height:28px; padding:0 26px 0 5px; line-height:28px; background:url(../images/zz/sel-cus-bg.gif) no-repeat; cursor:pointer;}
.cus-sel-list { width:176px; border:1px solid #ccc; border-top:none; background-color:#fafafa;}
.cus-sel-list a { display:block; padding:0 5px; height:26px; color:#404040;}
.cus-sel-list a:hover { background-color: #f0f0f0;}

.texta-l { width:380px; height:80px; padding:5px; border:1px solid #ccc; font-size:12px; word-break:break-all; word-wrap:break-word; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 3px rgba(0,0,0,.2) inset; -moz-box-shadow:0 0 3px rgba(0,0,0,.2) inset; box-shadow:0 0 3px rgba(0,0,0,.2) inset;}
.texta-m { width:309px; height:80px; padding:5px; border:1px solid #ccc; font-size:12px; word-break:break-all; word-wrap:break-word; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 3px rgba(0,0,0,.2) inset; -moz-box-shadow:0 0 3px rgba(0,0,0,.2) inset; box-shadow:0 0 3px rgba(0,0,0,.2) inset;}

/*分页*/
.page-box { width:120px; height:28px;}
.page-ar { display:inline-block; vertical-align:middle; width:7px; height:7px; background:url(../images/bmgl/icons.gif) no-repeat 0 -10px; margin:10px 0; _margin-bottom:0;}
.page-prv { display:inline-block; width:28px; height:28px; background:url(../images/wgw/prv-next.gif) no-repeat; vertical-align:middle;}
.page-next { display:inline-block; width:28px; height:28px; background:url(../images/wgw/prv-next.gif) no-repeat -28px 0; vertical-align:middle;}
.page-num-list { left:0; top:28px; _top:27px; width:47px; height:200px; background-color:#fff; overflow-y:scroll; border:1px solid #e3e3e3; z-index:10;}
.page-num-list li { height:24px; line-height:24px;}
.page-num-list a { display:block; padding-left:5px; line-height:24px; color:#777;}
.page-num-all { display:inline-block; width:37px; padding:0 5px; border:1px solid #fff; color:#777;}
.page-num-all.on, .page-num-all:hover { border:1px solid #e3e3e3; color:#777;}

.page-box-h { padding:5px 0;}
.page-box-h a { display:inline-block; width:24px; height:24px; margin:0 2px; line-height:24px; border:1px solid #ccc; color:#4493df; background-color:#fff; cursor:pointer; vertical-align:middle; text-align:center; *display:inline; *zoom:1;}
.page-box-h a:link,.page-box-h a:visited { color:#4493df;}
.page-box-h a.cur:link,.page-box-h a.cur:visited, .page-box-h a:hover { background-color:#3e90cf; color:#fff;}
.page-box-h .prev, .page-box-h .next { width:60px;}
.arr-prev { display:inline-block; width:0; height:0; margin-right:5px; margin-left:-5px; border-color:transparent #4493df transparent transparent; border-style:dashed solid dashed dashed; border-width:5px; vertical-align:middle; line-height:0;}
.arr-next { display:inline-block; width:0; height:0; margin-left:5px; margin-right:-5px; border-color:transparent transparent transparent #4493df; border-style:dashed dashed dashed solid; border-width:5px; vertical-align:middle; line-height:0;}
.page-box-h a.disable { color:#555;}
.page-box-h a.disable .arr-prev { display:inline-block; width:0; height:0; margin-right:5px; margin-left:-5px; border-color:transparent #ccc transparent transparent; border-style:dashed solid dashed dashed; border-width:5px; vertical-align:middle; line-height:0;}
.page-box-h a.disable .arr-next { display:inline-block; width:0; height:0; margin-left:5px; margin-right:-5px; border-color:transparent transparent transparent #ccc; border-style:dashed dashed dashed solid; border-width:5px; vertical-align:middle; line-height:0;}
.page-box-h a.disable:hover { cursor:text; color:#555; background-color:#fff;}
.page-box-h .prev:hover .arr-prev { border-color:transparent #fff transparent transparent;}
.page-box-h .next:hover .arr-next { border-color:transparent transparent transparent #fff;}
.page-box-h .prev.disable:hover .arr-prev { border-color:transparent #ccc transparent transparent;}
.page-box-h .next.disable:hover .arr-next { border-color:transparent transparent transparent #ccc;}
.page-box-h .total { display:inline-block; margin:0 5px; vertical-align:middle; *display:inline; *zoom:1;}
.page-to { display:inline-block; width:25px; height:24px; padding:0 5px; margin:0 2px; border:1px solid #ccc; vertical-align:middle;}
.page-box-h .btn-gray-s { display:inline-block; width:54px; height:24px; line-height:24px; background:url(../images/fsd/btn-gray-xs.gif) no-repeat; border:none;  vertical-align:middle; cursor:pointer; color:#555; *display:inline; *zoom:1;}

/*弹窗*/
.pop { _position:absolute; _left:0; _top:0; _width:100%; _height:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)); z-index:1000;}
.mask { position:fixed; _position:absolute; left:0; top:0; width:100%; height:100%; _height:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)); background-color:#000; opacity:.5; filter:alpha(opacity=50); z-index:999;}
.mask-iframe { position:absolute; left:0; top:0; width:100%; height:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)); border:none; filter:alpha(opacity=0);}
.popbox { position:fixed; _position:absolute; left:50%; top:50%; margin-left:-327px; margin-top:-280px; width:654px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); -moz-box-shadow:0 0 5px rgba(0,0,0,.5); box-shadow:0 0 5px rgba(0,0,0,.5); z-index:10000;}
.btn-close { display:block; right:15px; top:15px; width:9px; height:9px; background:url(../images/bmgl/btn-close.gif) no-repeat;}
.pop-tit { height:35px; line-height:35px; background-color:#eee; border-bottom:1px solid #fff; text-align:center; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.pop-main { padding:15px 25px; background-color:#fafafa; border-bottom:1px solid #e6e6e6;}
.pop-inp-txt { width:166px; height:26px; padding:0 5px; line-height:26px; border:1px solid #bbb; vertical-align:middle; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,.2); -moz-box-shadow:inset 0 0 2px rgba(0,0,0,.2); box-shadow:inset 0 0 2px rgba(0,0,0,.2);}
.pop-sel { width:178px; height:26px; padding:4px 5px; vertical-align:middle; border:1px solid #bbb; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,.2); -moz-box-shadow:inset 0 0 2px rgba(0,0,0,.2); box-shadow:inset 0 0 2px rgba(0,0,0,.2);}

.pop-btns { height:42px; padding:10px 0 0 275px; background-color:#fafafa; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px;}
.pop-btn-ok { display:inline-block; width:62px; height:28px; line-height:28px; background:url(../images/tijian/btns.gif) no-repeat; color:#fff; border:none; text-align:center; cursor:pointer;}
.pop-btn-cancel { display:inline-block; width:62px; height:28px; line-height:28px; background:url(../images/tijian/btns.gif) no-repeat 0 -90px; color:#555; border:none; text-align:center; cursor:pointer;}

.sel-cus {display:inline-block; width:168px; height:28px; padding:0 5px; line-height:28px; background:url(../images/bmgl/sel-bg.gif) no-repeat;}
.sel-list-box {left:0; top:28px; width:150px; background-color:#fff; border:1px solid #bbb; border-radius:3px;}

.w80 { width:80px;}

.popbox-w430, .popbox-w450, .popbox-w760 { position:fixed; _position:absolute; left:50%; top:50%; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); -moz-box-shadow:0 0 5px rgba(0,0,0,.5); box-shadow:0 0 5px rgba(0,0,0,.5); z-index:10000;}
.popbox-w430 { margin-left:-215px; margin-top:-170px; width:430px;}
.popbox-w430 .pop-tit { text-align:left; padding:0 20px;}
.popbox-w430 label { display:inline-block; width:75px; height:28px; line-height:28px; vertical-align:middle; text-align:right; font-size:14px; *display:inline; *zoom:1;}

.popbox-w612 { margin-left:-306px; margin-top:-170px; width:612px;}
.popbox-w612 .pop-tit { text-align:left; padding:0 20px;}
.popbox-w612 label { display:inline-block; width:75px; height:28px; line-height:28px; vertical-align:middle; text-align:right; font-size:14px; *display:inline; *zoom:1;}
.ml45 { margin-left:45px;}
.pop-tb-a a { color:#222;}
.pop-tb-a a.c-007 { color:#007cd9;}

.icon-loading { display:inline-block; width:37px; height:37px; background:url(../images/myd/loading.gif) no-repeat center center; vertical-align:middle; *display:inline; *zoom:1;}

.icon-info, .icon-smile, .icon-question, .icon-dl { display:inline-block; width:37px; height:37px; background:url(../images/zz/zz-icons.gif) no-repeat; vertical-align:middle; *display:inline; *zoom:1;}
.icon-info { background-position:0 -40px;}
.icon-smile { background-position:-80px -40px;}
.icon-question { background-position:-40px -40px;}
.icon-dl { background-position:-120px -40px;}
.icon-view, .icon-del { display:inline-block; width:15px; height:15px; background:url(../images/zz/zz-icons.gif) no-repeat; vertical-align:middle; *display:inline; *zoom:1;}
.icon-view { background-position:0 -20px;}
.icon-del { background-position:-20px -20px;}
.icon-human1, .icon-human2 { display:inline-block; width:18px; height:18px; background:url(../images/zz/zz-icons.gif) no-repeat; vertical-align:middle; *display:inline; *zoom:1;}
.icon-human1 { background-position:-40px -20px;}
.icon-human2 { background-position:-60px -20px;}

/*预约规则*/
.p5 { padding:5px;}
.cus-textarea { width:495px; border:1px solid #bbb; padding:10px; height:95px; overflow-y:scroll; border-radius:5px;}

/*资讯管理*/
.tools { padding:15px 0 5px 20px; line-height:28px; background-color:#f2f9ff; border:1px solid #bfdef6;}
.btn-gray-h24-l, .btn-gray-h24 { display:inline-block; height:24px; line-height:24px; background:url(../images/app-back/sprites.gif) no-repeat; border:none; text-align:center; cursor:pointer; vertical-align:middle; *display:inline; *zoom:1;}
.btn-gray-h24-l { width:84px; background-position:0 -90px;}
.btn-gray-h24 { width:54px; background-position:0 -60px;}
.btn-upload { display:inline-block; width:68px; height:28px; line-height:28px; background:url(../images/app-back/sprites.gif) no-repeat 0 -120px; border:none; text-align:center; cursor:pointer; vertical-align:middle; *display:inline; *zoom:1;}
.zxgl-box { }
.zxgl-box .cus-sel-chosed { width:70px; padding:0 29px 0 5px; background:url(../images/app-back/sprites.gif) no-repeat 0 -30px;}
.zxgl-box .cus-sel-list { width:102px;}
.zxgl-box .search-all { width:164px; background:url(../images/app-back/sprites.gif) no-repeat;}
.zxgl-box .inp-search { width:129px; padding:0 5px;}
.zxgl-box .btn-search { width:25px;}
.zxgl-box .btn-gray-h24-l, .zxgl-box .btn-gray-h24 { margin-top:2px;}
.zx-list-box { border:1px solid #f5f5f5; border-top:none;}
.zx-list li { height:43px; padding:0 20px; line-height:43px; border-bottom:1px solid #f5f5f5; overflow:hidden;}
.zx-list li .inp-chkbox { margin:15px 0;}
.zx-grid-1, .zx-grid-2, .zx-grid-3, .zx-grid-4, .zx-grid-5 { margin-left:10px;}
.zx-grid-1 { width:42px;}
.zx-grid-2 { width:200px;}
.zx-grid-3 { width:180px;}
.zx-grid-4 { width:95px;}
.zx-grid-5 { width:145px;}

.edit-box {}
.edit-box .inp-txt { width:345px;}
.edit-box label { width:60px; text-align:right;}
.edit-cover { border:1px solid #dfeffd; background-color:#f2f9ff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.edit-cover dl { padding:10px;}
.edit-cover dt { font-size:14px; font-weight:bold;}
.cover-img { width:160px; height:119px; overflow:hidden; border:1px solid #ccc;}
.edit-btm { padding:10px; background-color:#ebebeb; border:1px solid #d5d5d5;}