.st_tree{ padding: 10px 0 0 10px; }
.st_tree a{ text-decoration:none; display:inline-block; }
.st_tree a:hover{}
.st_tree ul{  padding: 0 5px 0 12px; margin:0; }
.st_tree ul li{ 
	font-size:14px; 
	color:#333; 
	line-height:28x; 
	cursor:pointer;
	list-style:none; 
	background-repeat:no-repeat; 
	padding:0 0 3px 5px;
}
.st_tree li:hover{ background:#e6e6e6; width:100%;  } 
.st_tree ul li ul{}
.st_tree ul li ul li{}
.st_tree .folder{ 
	list-style-image:url(../images/st_icon.png);
	background-repeat:no-repeat; 
	padding: 0 ; 
}
.st_tree .open{ 
	list-style-image:url(../images/st_icon_open.png);
	background-repeat:no-repeat; 
	margin:0; 
	padding:0;
}
.col-menu .st_tree a { height:auto; }
.col-menu .st_tree ul ul ul li a { line-height:16px; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; margin: 5px 0 5px 0; }
.col-menu .st_tree ul ul ul ul li a { line-height:16px; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; margin: 5px 0 5px 0; }