<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kasite.client.hospay.module.bill.dao.EveryDayBalanceDao">

    <sql id="EveryDayBalanceResult">
        billDate,hisBills,qlcBills,channelBills,checkNum,abnormalNum,overPlusErrNum,receivableMoney,
        alreadyReceivedMoney,refundMoney,alreadyRefundMoney,checkResult,createDate
    </sql>

    <sql id="ThreePartyBalanceResult">
        orderId,hisOrderId,channelOrderId,serviceId,reserveId,priceName,receivableMoney,
        alreadyreceivedMoney,refundMoney,alreadyRefundMoney,orderMemo,cardNo,operator,
        operatorName,createDate,lastDate,channelId,payUpdateKey,qlcOrderState,hisOrderState,
        channelOrderState,errorState,checkState,bizType,exeState,isSyn
    </sql>

    <sql id="ClassifySummaryBillResult">
         billDate,channelId,serviceId,serviceName,hisBills,qlcBills,channelBills,receivableMoney,
         alreadyReceivedMoney,refundMoney,alreadyRefundMoney,createDate,parenServiceId
    </sql>

    <insert id="insertEveryDayBill">
        INSERT INTO p_everyDayBalance
        <trim prefix="(" suffix=")">
            <include refid="EveryDayBalanceResult"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{everyDayBalance.billDate,jdbcType=VARCHAR},
            #{everyDayBalance.hisBills,jdbcType=VARCHAR},
            #{everyDayBalance.qlcBills,jdbcType=VARCHAR},
            #{everyDayBalance.channelBills,jdbcType=VARCHAR},
            #{everyDayBalance.checkNum,jdbcType=VARCHAR},
            #{everyDayBalance.abnormalNum,jdbcType=VARCHAR},
            #{everyDayBalance.overPlusErrNum,jdbcType=VARCHAR},
            #{everyDayBalance.receivableMoney,jdbcType=VARCHAR},
            #{everyDayBalance.alreadyReceivedMoney,jdbcType=VARCHAR},
            #{everyDayBalance.refundMoney,jdbcType=VARCHAR},
            #{everyDayBalance.alreadyRefundMoney,jdbcType=VARCHAR},
            #{everyDayBalance.checkResult,jdbcType=VARCHAR},
            #{everyDayBalance.createDate}
        </trim>
    </insert>

    <insert id="insertClassifySummaryBill">
        INSERT INTO p_classifySummaryBalance
        <trim prefix="(" suffix=")">
            <include refid="ClassifySummaryBillResult"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{classifySummaryBalance.billDate,jdbcType=VARCHAR},
            #{classifySummaryBalance.channelId,jdbcType=VARCHAR},
            #{classifySummaryBalance.serviceId,jdbcType=VARCHAR},
            #{classifySummaryBalance.serviceName,jdbcType=VARCHAR},
            #{classifySummaryBalance.hisBills,jdbcType=VARCHAR},
            #{classifySummaryBalance.qlcBills,jdbcType=VARCHAR},
            #{classifySummaryBalance.channelBills,jdbcType=VARCHAR},
            #{classifySummaryBalance.receivableMoney,jdbcType=VARCHAR},
            #{classifySummaryBalance.alreadyReceivedMoney,jdbcType=VARCHAR},
            #{classifySummaryBalance.refundMoney,jdbcType=VARCHAR},
            #{classifySummaryBalance.alreadyRefundMoney,jdbcType=VARCHAR},
            #{classifySummaryBalance.createDate},
            #{classifySummaryBalance.parenServiceId,jdbcType=VARCHAR}
        </trim>
    </insert>

    <delete id="deleteEveryDayBalance">
        delete from p_everyDayBalance
        where 1=1
        and DATE_FORMAT(billDate,'%Y-%m-%d %T') BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteClassifySummaryBalance">
        delete from p_classifySummaryBalance
        where 1=1
        and DATE_FORMAT(billDate,'%Y-%m-%d %T')  BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </delete>

    <select id="queryThreePartyBalance"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.ThreePartyBalance">
        SELECT
        <include refid="ThreePartyBalanceResult"/>
        from
        p_threePartyBalance p
        WHERE 1=1
        and p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </select>

    <select id="queryEveryDayBillCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
		FROM
		    p_threePartyBalance p
		WHERE
		    p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </select>
    <select id="summaryEveryDayBill"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.EveryDayBalance">
        SELECT DISTINCT DATE_FORMAT(p.createDate,'%Y-%m-%d') billDate,
        SUM(CASE WHEN p.hisOrderState != '' THEN 1 ELSE 0 END) hisBills,
        SUM(CASE WHEN p.qlcOrderState != '' THEN 1 ELSE 0 END) qlcBills,
        SUM(CASE WHEN p.channelOrderState != '' THEN 1 ELSE 0 END) channelBills,
        SUM(p.receivableMoney) receivableMoney,
        SUM(p.alreadyReceivedMoney) alreadyReceivedMoney,
        SUM(p.refundMoney) refundMoney,
        SUM(p.alreadyRefundMoney) alreadyRefundMoney
        FROM
          p_threePartyBalance p
        WHERE
          p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </select>
    <!-- 查询当前日期内是否还存在异常账单（用于汇总每日账单）要特别注意hisOrderId='' 这个条件,也许数据库或者表不同，该字段取值也得修改-->
    <select id="queryVeryDayExitsErrorBill" resultType="java.lang.Integer">
        select COUNT(*) errorNum from p_threePartyBalance p
        WHERE  (p.channelorderid='' OR p.hisOrderId='')
        and p.exeState != '2'
        and p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </select>
    <select id="classifySummaryBill"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.ClassifySummaryBalance">
        SELECT DATE_FORMAT(p.createDate, '%Y-%m-%d') billDate,p.channelId,p.serviceId,p.priceName serviceName,
        SUM(CASE WHEN p.hisOrderState != '' THEN 1 ELSE 0 END) hisBills,
        SUM(CASE WHEN p.qlcOrderState != '' THEN 1 ELSE 0 END) qlcBills,
        SUM(CASE WHEN p.channelOrderState != '' THEN 1 ELSE	0 END) channelBills,
        SUM(p.receivableMoney) receivableMoney,
        SUM(p.alreadyReceivedMoney) alreadyReceivedMoney,
        SUM(p.refundMoney) refundMoney,
        SUM(p.alreadyRefundMoney) alreadyRefundMoney
        FROM
          p_threePartyBalance p
        WHERE
          p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        GROUP BY
          p.channelId,p.serviceId
    </select>
    <!-- serviceId 需要根据不同的医院进行修改-->
    <select id="summaryClassifyBills"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.ClassifySummaryBalance">
        SELECT DATE_FORMAT(p.createDate, '%Y-%m-%d') billDate,p.channelId,p.serviceId,p.priceName serviceName,
            SUM(CASE WHEN p.hisOrderState != '' THEN 1 ELSE 0 END) hisBills,
            SUM(CASE WHEN p.qlcOrderState != '' THEN 1 ELSE 0 END) qlcBills,
            SUM(CASE WHEN p.channelOrderState != '' THEN 1 ELSE	0 END) channelBills,
            SUM(p.receivableMoney) receivableMoney,
            SUM(p.alreadyReceivedMoney) alreadyReceivedMoney,
            SUM(p.refundMoney) refundMoney,
            SUM(p.alreadyRefundMoney) alreadyRefundMoney
        FROM p_threePartyBalance p
        WHERE
          p.createDate BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        GROUP BY p.channelId,p.serviceId
    </select>

    <!-- 分页-->
    <select id="queryEveryDayBills"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.EveryDayBalance">
        SELECT
        <include refid="EveryDayBalanceResult"/>
        FROM
        p_everyDayBalance p
        <where>
            1 = 1
            <if test="queryBillParam.startDate != '' and queryBillParam.startDate != null">
                and DATE_FORMAT(p.billDate,'%Y-%m-%d %T') >= #{queryBillParam.startDate,jdbcType=VARCHAR}
            </if>
            <if test="queryBillParam.endDate != '' and queryBillParam.endDate != null"><![CDATA[
                and DATE_FORMAT(p.billDate,'%Y-%m-%d %T') < #{queryBillParam.endDate,jdbcType=VARCHAR}
            ]]></if>
            <if test="queryBillParam.checkState != '' and queryBillParam.checkState != null">
                and p.checkResult = #{queryBillParam.checkState,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY p.billDate desc
    </select>
    <select id="queryClassifySummaryBills"
            resultType="com.kasite.client.hospay.module.bill.entity.bill.dbo.ClassifySummaryBalance">
        SELECT
        <include refid="ClassifySummaryBillResult"/>
        FROM
        p_classifySummaryBalance p
        <where>
            1 = 1
            and p.parenServiceId IS NULL
            <if test="queryBillParam.startDate != '' and queryBillParam.startDate != null">
                and DATE_FORMAT(p.billDate,'%Y-%m-%d %T') >= #{queryBillParam.startDate,jdbcType=VARCHAR}
            </if>
           <if test="queryBillParam.endDate != '' and queryBillParam.endDate != null"><![CDATA[
                and DATE_FORMAT(p.billDate,'%Y-%m-%d %T') < #{queryBillParam.endDate,jdbcType=VARCHAR}]]>
            </if>
            <if test="queryBillParam.serviceId != '' and queryBillParam.serviceId != null">
                and p.serviceId = #{queryBillParam.serviceId,jdbcType=VARCHAR}
            </if>
            <if test="queryBillParam.channelId != '' and queryBillParam.channelId != null">
                and p.channelId = #{queryBillParam.channelId,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY p.billDate desc
    </select>

</mapper>