body{ background:#eee;}
.cicon{ display:inline-block; background:url(../images/icon.png) no-repeat; vertical-align:middle;}
.icon-duizhang{ width:24px; height:24px; background-position:-60px 0; margin:0 10px 3px 0;}
.icon-back{ width:23px; height:23px; background-position:-90px 0; margin:0 5px 4px 0;}
.comtop{ height:50px; line-height:50px; background:#fff; border-bottom:1px solid #e7eaec; padding:0 25px; font-size:18px; color:#666;}
.comtop a.comback{ color:#666;}
.icon-qushi{ width:22px; height:20px; background-position:0 0; margin:0 5px 3px 0;}
.icon-daochu{ width:21px; height:21px; background-position:-30px 0; margin:0 5px 3px 0;}
td.bgc-f3f3f3{ background:#f3f3f3;}
td.pl20{ padding-left:20px;}
td.pr20{ padding-right:20px;}
.minw50{ min-width:50px;}
.w50{ width:50px;}