
.main-tit { padding: 20px 0 15px 30px; height: 24px; line-height: 24px; border-bottom:1px solid #e1e1e1;}
.main-tit h2 { font-size:16px; font-weight: normal;}

#pager_del ul.pages,#pager1 ul.pages,#pager2 ul.pages { margin: 10px 0px 20px; padding: 0px;  font-size: 14px; }
#pager_del ul.pages li,#pager1 ul.pages li,#pager2 ul.pages li { list-style: none; margin: 10px 5px; padding:8px; border:1px solid #dbdbdb; text-decoration: none; float: left;color:#0381bb; text-align: center; border-radius:3px; font-family:"Tahoma"; width:auto; height:10px; line-height:10px; }
#pager_del ul.pages li:hover,#pager1 ul.pages li:hover { background:#3e90cf; color:#000; border:1px solid #fff; }

#pager_del ul.pages li.pgCurrent,#pager1 ul.pages  li.pgCurrent,#pager2 ul.pages  li.pgCurrent { color: #f03800; font-weight: 600; font-size: 13px; }
#pager_del ul.pages li.pgCurrent:hover,#pager1 ul.pages  li.pgCurrent:hover,#pager2 ul.pages  li.pgCurrent:hover  { color:#000;}
#pager_del ul.pages li.pgHeader,#pager1 ul.pages  li.pgHeader,#pager2 ul.pages  li.pgHeader { border: 0; cursor: auto; margin-left: 10px; width:auto; }
#pager_del ul.pages li.pgNext,#pager1 ul.pages  li.pgNext,#pager2 ul.pages  li.pgNext  { font-family: "Courier New",Courier,monospace; font-weight:900; }
