<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="3000">  
  	<jmxConfigurator/>
    <!-- 定义log文件的目录 -->  
    <property name="LOG_HOME" value="/Users/daiyanshui/Desktop/KasiteConfig/logback"></property>  
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--encoder 默认配置为PatternLayoutEncoder-->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/trace.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/trace.%d{yyyy-MM-ddssSSS}.%i.log.zip</fileNamePattern>  
            <maxFileSize>20MB</maxFileSize>  
            <maxHistory>60</maxHistory>  
            <totalSizeCap>200MB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>TRACE</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/info.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/info.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
            <maxFileSize>20MB</maxFileSize>  
            <maxHistory>60</maxHistory>  
            <totalSizeCap>500MB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%ex%mdc{client}%msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/debug.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/debug.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
            <maxFileSize>20MB</maxFileSize>  
            <maxHistory>30</maxHistory>  
            <totalSizeCap>500MB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>DEBUG</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/warn.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/warn.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
            <maxFileSize>20MB</maxFileSize>  
            <maxHistory>365</maxHistory>  
            <totalSizeCap>200MB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>WARN</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/error.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
            <maxFileSize>20MB</maxFileSize>  
            <maxHistory>365</maxHistory>  
            <totalSizeCap>10GB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%mdc{client} %ex %msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_HOME}/all.log</file>  
        <append>true</append>  
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/logs/all.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
            <maxFileSize>5MB</maxFileSize>  
            <maxHistory>30</maxHistory>  
            <totalSizeCap>5GB</totalSizeCap>  
        </rollingPolicy>  
        <encoder>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
            <charset>UTF-8</charset> 
        </encoder>  
    </appender>  
    <root level="INFO">  
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="TRACE_FILE" />  
        <appender-ref ref="INFO_FILE" />  
        <appender-ref ref="DEBUG_FILE" />   
        <appender-ref ref="WARN_FILE" />  
        <appender-ref ref="ERROR_FILE" />  
        <appender-ref ref="ALL_FILE" />  
    </root>  
     <logger name="org.springframework.web" level="ERROR"/>
     <logger name="org.springboot.sample" level="ERROR" />
     <logger name="com.kasite" level="ERROR" />
</configuration>    